@import "declarations.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    .flex-column-element;
    background-color: #f2f2f2;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.menu-container {
    .flex-center-element;
    color: #606060;
    background-color: @white-color;
    padding: 10px 0;
    font-weight: 500;
}

.menu {
    border: 1px solid @white-color;
    width: 1100px;
    .flex-sb-element;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.links {
    border: 1px solid @white-color;
    .flex-end-element;
}

.separator {
    @size: 5px;
    margin-left: @size;
    margin-right: @size;
}

.search {
    .flex-center-element;
    flex: 1;
}

.search input {
    border: 1px solid #bdbdbd;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 10px 0px 15px;
    height: 40px;
    width: 45%;
}

.search-dropdown {
    position: relative;
    border: 1px solid #bdbdbd;
    border-left: none;
    padding: 9px 25px 5px 30px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    height: 40px;
}

.category-drop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 50px;
    background: #fff;
    border: 1px #bdbdbd solid;
    border-radius: 5px;

    ul {
        list-style: none;
        word-break: break-word;

        li {
            padding: 7px;
        }

        li:hover {
            .default-hover;
        }
    }
}

input[name=t_search] {
    width: 100%;
    border: none;
    border-radius: 5px 5px 0px 0px;
}


input[name=t_search]:focus {
    .default-hover;
}

.search-icon {
    position: absolute;
    right: 0;
    margin-top: 7px;
    margin-right: 7px;
}

.material-icons.drop-logo {
    vertical-align: top;
    font-size: 30px !important;
    color: @black-color;
}

.material-icons.expand-search {
    vertical-align: bottom;
    font-size: 18px;
    transition: transform .3s ease-in-out;
}

.logo {
    font-size: 20px;
    cursor: pointer;
}

.content-container {
    .flex-center-element;
    align-items: center;
    flex: 1;
}

.footer-container {
    background-color: @white-color;
    padding: 30px;
}

.wrapper {
    .flex-column-element;
    height: 100%;
}

.flex-form {
    .flex-sb-element;
}

.mr-20 {
    margin-right: 20px;
}

.form-input input, .form-input textarea, .form-input select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #e0e0e0;
    text-align: center;
    margin-bottom: 10px;
}

.form-input textarea {
    resize: vertical;
    height: 120px;
}

.button {
    cursor: pointer;
    background-color: #6fcf97;
    color: @white-color;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
}

.nav-btn {
    margin-right: 15px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.default-hover {
    background-color: #efeeee;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.login:hover, .signup:hover, .nav-btn:hover, .search input:hover, .search-dropdown:hover {
    .default-hover;
}

.nav-btn .material-icons {
    vertical-align: top;
}

.form-input.left {
    input, textarea, select {
        text-align: left;
    }
}

.flex-form label {
    font-weight: bold;
    color: #828282;
    display: block;
    margin-bottom: 5px;
}

.button.white {
    background: @white-color;
    border: 1px #828282 solid;
    color: #828282;
}

.button.small {
    background: @white-color;
    border: 1px #828282 solid;
    color: @black-color;
    font-size: 12px;
    padding: 3px 15px 3px 15px;
}

.page-container {
    .flex-column-element;
    width: 50%;
    align-self: flex-start;
    padding: 20px 0px 20px 0px;
}

.flex-form > div {
    width: 100%;
}

.page-legend {
    background-color: #bdbdbd;
    font-size: 25px;
    color: @white-color;
    padding: 20px;
}

.page-legend span {
    cursor: default;
    margin-left: 25%;
}

.bg-white {
    background-color: @white-color !important;
}

.buttons-area {
    .flex-sb-element;
    margin-top: 30px;
}

.links a {
    text-decoration: none;
    color: #606060;
}

.login, .separator, .signup {
    .flex-center-element;
    align-items: center;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

.separator {
    padding: 0;
    cursor: default;
}

.top-button {
    visibility: hidden;
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 15px;
    background: #f2f2f2;
    border: 1px #bdbdbd solid;
    border-radius: 50%;
    cursor: pointer;
}