@import "declarations.less";

.categories {
    .flex-center-element;
    background-color: @empty-thumb-color;
    font-size: 25px;
    color: @white-color;
    padding: 0px 15px 15px 15px;
}

.categories-wrap {
    .flex-center-element;
    width: 70%;
    flex-wrap: wrap;
}

.category {
    margin-left: 40px;
    margin-top: 15px;
    cursor: pointer;

    .picture {
        width: 80px;
        height: 80px;
        background-color: @white-color;
    }

    .name {
        font-size: 18px;
        color: @black-color;
        font-weight: 500;
        text-align: center;
    }
}

.item {
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.item .picture {
    width: 240px;
    height: 210px;
    background-color: @empty-thumb-color;
}

.item .footer {
    background: @white-color;
    padding: 8px;
}

.item-name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3px;
}

.item-descr {
    font-size: 13px;
}

.item .price {
    .flex-sb-element;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 8px;
    border-top: 1px #f2f2f2 solid;
    padding: 8px 8px 0px 8px;
}

.item-container {
    .flex-center-element;
    width: 70%;
    align-self: flex-start;
    padding: 20px 0px 20px 0px;
    flex-wrap: wrap;
}

.price-left {
    font-size: 16px;
    font-weight: 500;
}

.descr {
    .flex-sb-element;
}

.extra-info {
    .flex-sb-element;
    flex-direction: column;
    align-items: self-end;
}

.sm {
    font-size: 10px;
    color: @gray-color;
}

.fav {
    font-size: 18px !important;
    color: @gray-color;
}