@import "declarations.less";

.categories {
    .flex-center-element;
    background-color: @empty-thumb-color;
    font-size: 25px;
    color: @white-color;
    padding: 0px 15px 15px 15px;
}

.categories-wrap {
    .flex-center-element;
    width: 70%;
    flex-wrap: wrap;
}

.category {
    margin-left: 40px;
    margin-top: 15px;
    cursor: pointer;
    opacity: 0;
    position: relative;

    .picture {
        width: @category-width;
        height: @category-height;
        border-radius: 5px;
        background-color: @white-color;
    }

    .name {
        font-size: 18px;
        color: @black-color;
        font-weight: 500;
        text-align: center;
    }

    .title {
        opacity: 0;
        .flex-center-element;
        align-items: center;
        position: absolute;
        top: 0;
        width: @category-width;
        height: @category-height;
        background: #ffffff85;
        border-radius: 5px;

        span {
            background: #000000bf;
            font-weight: 500;
            font-size: 15px;
            padding: 10px 17px 10px 17px;
            border-radius: 5px;
            max-width: 200px;
            word-break: break-word;
        }
    }
}

.fade(@delay: 0.6s) {
    -webkit-transition: all @delay ease-in-out;
    -moz-transition: all @delay ease-in-out;
    -o-transition: all @delay ease-in-out;
    transition: all @delay ease-in-out;
}

.fadeIn {
    visibility: visible;
    opacity: 1 !important;
    .fade;
}

.fadeOut {
    visibility: hidden;
    opacity: 0 !important;
    .fade;
}

.fadeInFast {
    visibility: visible;
    opacity: 1 !important;
    .fade(0.3s);
}

.fadeOutFast {
    visibility: hidden;
    opacity: 0 !important;
    .fade(0.3s);
}

.item {
    margin-left: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    opacity: 0;
}

.item .picture {
    width: 240px;
    height: 240px;
    margin-bottom: -5px;
    background-color: @empty-thumb-color;
    transition: .8s;
}

.cart button {
    border: 1px #82828278 solid !important;
    border-radius: 4px;
}

.item .picture:hover {
    transform: scale(1.2);
}

.item-frame {
    overflow: hidden;
}

.item .footer {
    background: @white-color;
    padding: 8px;
}

.item-name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3px;
}

.item-descr {
    font-size: 13px;
}

.item .price {
    .flex-sb-element;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 8px;
    border-top: 1px #f2f2f2 solid;
    padding: 8px 8px 0px 8px;
}

.item-container {
    .flex-center-element;
    width: 70%;
    align-self: flex-start;
    padding: 20px 0px 20px 0px;
    flex-wrap: wrap;
}

.price-left {
    font-size: 16px;
    font-weight: 500;
}

.descr {
    .flex-sb-element;
}

.extra-info {
    .flex-sb-element;
    flex-direction: column;
    align-items: self-end;
}

.sm {
    font-size: 10px;
    color: @gray-color;
}

.fav {
    font-size: 18px !important;
    color: @gray-color;
}